<% provide(:title, "Admin menu") %>
<h1>Admin menu</h1>
<h2>(hrOOMPH Admins only)</h2>
<div id="menus"
	<ul>
		<li><%= link_to "Framework", framework_path %></li>
		<li><%= link_to "Users", "#" %></li>
		<li><%= link_to "Vendors", "#" %></li>
		<li><%= link_to "Feedback", "#" %></li>
		<li><%= link_to "Billing", "#" %></li>
		<li><%= link_to "Text editor", "#" %></li>
	</ul>
</div>
