<% provide(:title, "Admin menu") %>
<span class="two-line-header"><h1>Admin menu</h1></span>
<h2>( HROOMPH Admins only )</h2>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/admin_menu_side" %>
		</section>
	</aside>
	<div class="span8">
		<ul id="menus">
			<li><%= link_to "Framework", framework_path %></li>
			<li><%= link_to "Users", "#" %></li>
			<li><%= link_to "Vendors", "#" %></li>
			<li><%= link_to "Feedback", "#" %></li>
			<li><%= link_to "Site activity", "#" %></li>
			<li><%= link_to "Billing", "#" %></li>
			<li><%= link_to "Text editor", "#" %></li>
		</ul>
		<div class="navigator">
		    <%= link_to "Switch to user interface ->", user_path(current_user) %> 
		</div>
	</div>
</div>
