<div class="row">
	<aside class="span3">
		<section>
			<div class="add-bottom-space">
				<%= number_with_delimiter(pluralize(Product.live.count, "topic")) %> to choose from.<br />
				What's yours?
			</div>

			<%= form_tag results_path, method: 'get', 
							id: "products_search" do %>

		
				<%= select "genre", "genre_id",
					@genres.pluck(:description, :id), 
				 	{ prompt: true },
					{ id: 'genre_select' } %>
  
  				<div class="hidden-content">
	  				
	  				<%= select "category", "category_id",
	  					@categories.pluck(:description, :id),
	  					{ include_blank: "Select a category" }, 
	  					{ id: 'cat_select' } %>
	  			</div>

	  			<div class="hidden-content-2">
				
					<%= select "topic", "topic_id", 
						@topics.pluck(:description, :id), 
						{ include_blank: "Select a topic" },
						{ id: "topic_select" } %>

				</div>
			
				<%= submit_tag "View results", name: nil, class: "btn btn-primary btn-small" %> 
				<div class="display-total"></div>
			<% end %>
		</section>
		<section>
			<div class="explain">
				<p>From the Results page, you can further refine your search, by:-</p>
				<ul>
					<li>Learning style <em>(training course, book, seminar, mentoring etc)</em></li>
					<li>Maximum price</li>
					<li>Supplier</li>
					<li>Qualification</li>
					<li>Distance from you</li>
					<li>Customer ratings</li>
					<li>A key word or phrase</li>
				</ul>
			</div>
		</section>
	</aside>
	<div class="span8">
		<div class="center hero-unit">
			<h1><%= image_tag("hroomph_title.png", alt: "HROOMPH - The Training app") %></h1>

			<h2>
				Optimizing training budgets.  Maximizing training sales.
			</h2>

			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>

