<%= render 'shared/error_messages', object: f.object %>	
<div class="entry-page">
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :description %></span>
		</div>
		<div class="box-fill">
			<%= f.text_field :description %>
		</div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :event, "Event?" %></div>
		<div class="cbox-fill"><%= f.check_box :event %></div>
		<div class="cbox-info">
			<% if @method.event? %>
				<%= event_checked %>
			<% else %>
				<%= event_unchecked %>
			<% end %>
		</div>
	</div>
	<div class="entry"></div>
</div>

