<%= render 'shared/error_messages', object: f.object %>

<div class="entry">
	<div class="add-this">
		<span class="label"><%= f.label :name %></span>
	</div>	
	<div class="box-fill"><%= f.text_field :name, placeholder: "Your real first and last name" %></div>
</div>
<div class="entry">
	<div class="add-this">
		<span class="label"><%= f.label :email %></span>
	</div>
	<div class="box-fill"><%= f.text_field :email %></div>
</div>
<div class="entry">
	<div class="add-this">
		<span class="label"><%= f.label :location %></span>
	</div>
	<div class="box-fill">
		<div class="large-box-fill">
			<%= text_field_tag 'geocomplete', @user.location,
				placeholder: "Type in an address. The map should then show your location" %>
		</div>
		<div class="confirm-button">
			<input id="find" type="button" value="find">
		</div>
	</div>
</div>
<div class="entry add-bottom-space">
	<div class="add-this"></div>
	<div class="box-fill">
		<div class="map_canvas"></div>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<span class="label"><%= f.label :password %></span>
	</div>
	<div class="box-fill">
		<%= f.password_field :password, placeholder: @password_text %>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<span class="label"><%= f.label :password_confirmation, "Confirm password" %></span>
	</div>
	<div class="box-fill">
		<%= f.password_field :password_confirmation, placeholder: @confirm_text %>
	</div>
</div>
<div class="entry add-bottom-space">
	<%= f.hidden_field :latitude, name: "lat", id: "latitude" %>
	<%= f.hidden_field :longitude, name: "lng" %>
	<%= f.hidden_field :city, name: "locality" %>
	<%= f.hidden_field :country, name: "country" %>
	<%= f.hidden_field :location, id: "loctn" %>
	<%= hidden_field_tag :loctn_status %>
	<%= hidden_field_tag :map_updated %>
</div>