<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<aside class="span3">
		<section>
			<%= render 'benefits' %>
		</section>
		<section>
			<%= render 'guidance' %>
		</section>
	</aside>
	<div class="span8">
		<%= form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Create my account", class: "btn btn-primary" %>
			<div class="navigator">
				<%= link_to "<- Not now - cancel", root_path %> 
			</div>
		<% end %>
	</div>
</div> 