<li><%= link_to "Admin home page", admin_menu_path %></li>
<li><%= link_to "Framework", framework_path %></li>
<li><%= link_to "Users", users_path %></li>
<li><%= link_to "Vendors", "#" %></li>
<li><%= link_to "Feedback", "#" %></li>
<li><%= link_to "Site activity", "#" %></li>
<li><%= link_to "Billing", "#" %></li>
<li><%= link_to "Text editor", "#" %></li>
<li class="divider"></li>
<li><%= link_to "User home page", user_path(current_user) %></li>
<% if current_user.has_businesses? %>
	<li class="divider"></li>
	<li><%= link_to "Business home page", my_businesses_path %></li>
<% else %>
	<li><%= link_to "Add a business", my_businesses_path %></li>
<% end %>