<li><%= link_to "Business home page", my_businesses_path %></li>
<li><%= link_to "Products", my_business_products_path(@business) %></li>
<li><%= link_to "Schedules", "#" %></li>
<li><%= link_to "* Promotions *", "#" %></li>
<li><%= link_to "Reviews", "#" %></li>
<li><%= link_to "History", "#" %></li>
<li><%= link_to "Account", "#" %></li>
<li class="divider"></li>
<li><%= link_to "User home page", user_path(current_user) %></li>