<li><%= link_to "Business home page", my_businesses_path %></li>
<li><%= link_to "Products", my_business_products_path(@business) %></li>
<li>
	<%= link_to "Schedules", my_business_events_path(@business) if @business.has_schedulable_products? %>
</li>
<li><%= link_to "* Promotions *", "#" %></li>
<li><%= link_to "Reviews", "#" %></li>
<li><%= link_to "History", "#" %></li>
<li><%= link_to "Account", "#" %></li>
<li class="divider"></li>
<li><%= link_to "User home page", user_path(current_user) %></li>
<% if current_user.admin? %>
	<li class="divider"></li>
	<li><%= link_to "Admin home page", admin_menu_path %></li>
<% end %>
