<% provide(:title, 'Edit time period') %>
<h1>Edit time period</h1>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/admin_menu_side" %>
		</section>
	</aside>

	<div class="span8">
		<%= form_for(@duration) do |f| %>
		 	<%= render 'fields', f: f %>
			<%= f.submit "Confirm", class: "btn btn-primary add-top-space" %>
			<div class="navigator">
				<%= link_to "<- Cancel changes", durations_path %>
			</div>
		<% end %>
	</div>
</div> 
