<% provide(:title, 'Duration units') %>
<h1>Duration units</h1>
 
<ul class="lists">
	<% @durations.each do |d| %>
		<li>
			<%= d.time_unit %>
			| <%= link_to "edit", edit_duration_path(d) %>
			| <%= link_to "delete", d, method: :delete,
					data: { confirm: "Are you sure?" } %>
		</li>
	<% end %>
</ul>
<div class="navigator">
    <%= link_to "<- Framework menu", framework_path %> 
	| <%= link_to "Add a duration unit ->", new_duration_path %>
</div>