<ul id="products-list"> 
	<% @products.each do |product| %>
		<%= content_tag_for :li, product do %>
			
			<% if product.image_url %>
				<div class="image-display">
					<%= image_tag(product.image_url(:thumb), class: "img-rounded") if product.image %>
				</div>
			<% end %>	
			<div class="product-title"><%= link_to product.title, "#" %></div>
			<div class="product-format">
				<%= product.format_details %> - <%= product.formatted_standard_price %>
			    <% if product.currency != session[:local_currency] %>
					<span class="currency-convert">(approx <%= session[:local_currency_symbol] %>
						<%= product.price_conversion(session[:local_currency]) %>)</span>
					</em>
				<% end %>
				<span class="aligned-button">
					<% if product.non_event? %>
						<%= image_tag "green_button.png" %>
					<% elsif product.has_future_events? %>
						<%= image_tag "blue_button.png" %>
					<% end %>
					<% if product.has_discounted_events? %>
						<%= image_tag "gold_button.png" %>
					<% end %>
				</span>
			</div>
			<div class="blurb">
				<%= product.content %>
				<%= product.outcome %>
				<% unless product.qualification.blank? %>
						<span class="qualification">(Qualification: <%= product.qualification %>)</span>
				<% end %>
			</div>
			<div class="supplier"><em><%= product.business.name %>, <%= product.business.city %>, <%= product.business.country %></em></div>
			
		<% end %>
	<% end %>
	
</ul>