<ul id="products-list"> 
	<% @products.each do |product| %>
		<%= content_tag_for :li, product do %>
				
			<div><%= link_to product.title, "#" %></div>
			<% if product.image_url %>
				<div class="image-display">
					<%= image_tag(product.image_url(:thumb), class: "img-rounded") if product.image %>
				</div>
			<% end %>
			<div>
				<%= product.format_details %> - <%= product.formatted_standard_price %>
			</div>
			<div class="blurb">
				<%= product.content %>
				<% unless product.qualification.blank? %>
						(Qualification: <%= product.qualification %>)
				<% end %>
			</div>
			<div><em><%= product.business.name %>, <%= product.business.city %>, <%= product.business.country %></em></div>
			
		<% end %>
	<% end %>
	
</ul>