<% provide(:title, "Search results") %>
<h1>Search results</h1>
<div class="row">
	<aside class="span3">
		<section>
			<div class="explain">
				<p>
					<em><%= @search_string %></em> selected. Refine your search using the options below.
				</p>
			</div>
		</section>
		<section>
			
			<div class="explain">
				<%= form_tag results_path, :method => :get do %>
					<p>
						<strong>Format:</strong>

						<%= collection_select("product", "training_method_id", 
							@t_methods, :id, :description, 
							{ prompt: "All formats" },
							{ id: "method-filter", class: "reduced-height" }) %>
					</p>
				<% end %>
				<%= form_tag results_path, method: 'get' do %>
					<p>
						<strong>Location: </strong><em>(where relevant)</em>
						<%= select_tag(:location_id, 
							options_for_select(
							[['Within 50 km', 1], ['Within 200 km', 2], ['This country', 3], ['Worldwide', 4]], 4)) 
						%>
					</p>
				<% end %>
				<%= form_tag results_path, :method => :get do %>
					<p>
						<strong>Price:</strong>
						<%= select_tag(:price_id, 
							options_for_select(
							[['Free', 1], ['Budget', 2], ['Mid-range', 3], ['$1000 or more', 4], 
							['Any price', 5]], 5)) 
						%>
					</p>
				<% end %>	
				<%= form_tag results_path, method: 'get', 
							id: "qualification_filter" do %>
					<p>	
						<strong>Qualification:</strong>
						<%= text_field_tag :qual_filter, params[:qual_filter], 
								 placeholder: 'Filters as you type qualification'  %>
					</p>
				<% end %>
				<%= form_tag results_path, method: 'get', 
							id: "supplier_filter" do %>
					<p>
						<strong>Supplier name:</strong>
						<%= text_field_tag :supply_filter, params[:supply_filter], 
								 placeholder: 'Filters as you type supplier'  %>
					</p>
				<% end %>
				<%= form_tag results_path, method: 'get', 
							id: "keyword_filter" do %>
					<p>
						<strong>A key word or phrase:</strong> (in title, description or benefits)
						<%= text_field_tag :kword_filter, params[:kword_filter], 
								 placeholder: 'Filters as you type'  %>
					</p>
				<% end %>
				
			</div>
		</section>
	</aside>

	<div class="span8">
		<span class="arrange-order">Sort by 
			<%= select_tag(:arrange_id, 
				options_for_select(
				[['Latest added', 1], ['Alphabetical', 2], ['Best reviews', 3], 
				['Lowest price', 4], ['Highest price', 5], ['Best discounts', 6],
				['Nearest', 7]], 1)) 
			%>
		</span>
		<div class="product-search">
			<%= render 'products' %>
		</div>
		
		<div class="navigator">
		    <%= link_to "<- Back to Home Page", root_path %> 
		</div>
		
	</div>
</div>