<% provide(:title, "Search results") %>
<h1>Search results</h1>
<div class="row">
	<aside class="span3">
		<section>
			<div class="explain">
				<p><strong><%= number_with_delimiter(pluralize(@products.count, "result")) %></strong>
				 	for <em><%= @search_string %></em>. Refine your search using the options below.</p>
			</div>
		</section>
		<section>
			
			<div class="explain">
				<%= form_tag results_path, :method => :get do %>
					<p>
						<strong>Format:</strong>

						<%= collection_select("product", "training_method_id", 
							@t_methods, :id, :description, 
							{ prompt: "All formats" },
							{ id: "method-filter" }) %>
				<% end %>
					</p>
					<p>
						<strong>Location: </strong><em>(where relevant)</em><br />
						Detected location: <%= @location %>
					</p>
					<p>
						<strong>Price:</strong>
					</p>
					<p>
						<strong>Discounted only:</strong>
					</p>
				<%= form_tag results_path, method: 'get', 
							id: "qualification_filter" do %>
					<p>	
						<strong>Qualification:</strong>
						<%= text_field_tag :q_filter, params[:q_filter], 
								 placeholder: 'Filters as you type qualification'  %>
					</p>
				<% end %>
				<%= form_tag results_path, method: 'get', 
							id: "supplier_filter" do %>
					<p>
						<strong>Supplier name:</strong>
						<%= text_field_tag :supply_filter, params[:supply_filter], 
								 placeholder: 'Filters as you type supplier'  %>
					</p>
				<% end %>
				<%= form_tag results_path, method: 'get', 
							id: "keyword_filter" do %>
					<p>
						<strong>A key word or phrase:</strong> (in title, description or benefits)
						<%= text_field_tag :kword_filter, params[:kword_filter], 
								 placeholder: 'Filters as you type'  %>
					</p>
				<% end %>
					<p>
						<strong>Accepting orders now:</strong>
					</p>
					<p>
						<strong>Sort order:</strong>
						<ul>
							<li>Most recently added</li>
							<li>Alphabetical</li>
							<li>Best customer rating</li>
							<li>Price - low to high</li>
							<li>Price - high to low</li>
							<li>Best discounts</li>
							<li>Distance - closest first</li>
						</ul>
					</p>
				
			</div>
			

		</section>
	</aside>

	<div class="span8">
		<div class="product-search">
			<%= render 'display' %>
		</div>
		
		<div class="navigator">
		    <%= link_to "<- Back to Home Page", root_path %> 
		</div>
		
	</div>
</div>