<% provide(:title, "Search results") %>
<h1>Search results</h1>
<div class="row">
	<aside class="span3">
		<section>
		
		</section>
	</aside>

	<div class="span8">
		<div class="product-search">
			<ul> 
				<% @products.each do |product| %>
					<%= content_tag_for :li, product do %>
							
						<div><%= link_to product.title, "#" %></div>
						<div class="image-display">
							<%= image_tag(product.image_url(:thumb), class: "img-rounded") if product.image %>
						</div>
						<div>
							<%= product.format_details %> - <%= product.formatted_standard_price %>
						</div>
						<div>
							<%= product.content %>
							<% unless product.qualification.blank? %>
									(Qualification: <%= product.qualification %>)
							<% end %>
						</div>
						<div><em><%= product.business.name %>, <%= product.business.city %>, <%= product.business.country %></em></div>
						
					<% end %>
				<% end %>
			</ul>
		</div>
		<%= will_paginate @products %>
		
	</div>
</div>