<div class="entry">
	<div class="add-this">
		<span class="label"><%= f.label :start_date, "Dates" %></span>
	</div>
	<div class="half-line">
		<div class="mini-box-text">From</div>
		<div class="date-box-fill"><%= f.text_field :start_date, placeholder: "YYYY-MM-DD" %></div>
	</div>
	<div class="half-line">
		<div class="mini-box-text">To</div>
		<div class="date-box-fill"><%= f.text_field :end_date, placeholder: "YYYY-MM-DD" %></div>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<span class="label">
			<%= f.label :price, "Price this time (#{@business.currency_symbol})" %>
		</span>
	</div>
	<div class="box-fill half-line">
		<%= f.text_field :price, placeholder: "Value only - no currency symbol"  %>
		<% if params[:action] == 'edit' %>
			<div class="info-below">
				Standard price: <%= @business.currency_symbol %>
				<%= number_with_precision(@product.standard_cost, precision: 2, delimiter: ',') %>
			</div>
		<% end %>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<span class="label"><%= f.label :places_avaliable, "Availability" %></span>
	</div>
	<div class="half-line">
		<div class="small-box-text">Total places</div>
		<div class="small-box-fill"><%= f.text_field :places_available, class: "numeric"  %></div>
	</div>
	<div class="half-line">
		<div class="small-box-text">Places sold</div>
		<div class="small-box-fill"><%= f.text_field :places_sold, class: "numeric"  %></div>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<%= f.label :attendance_days  %>
	</div>
	<div class="box-fill">
		<% Date::ABBR_DAYNAMES.each do |day| %>
			<% @select = false %>
			<% unless @checked_days.nil? %>
				<% @checked_days.each do |checked| %>
					<% if day == checked %>
						<% @select = true %>
					<% end %>
				<% end %>
			<% end %>
			<%= check_box_tag "weekdays[]", day, @select, id: "weekdays_#{day}" %>
			<small><%= day %></small>
			&nbsp;
		<% end %>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<%= f.label :time_of_day  %>
	</div>
	<div class="box-fill half-line">
		<%= f.select :time_of_day, @periods, prompt: "Choose an option", 
			selected: @selected_period %>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<%= f.label :start_time, "Timings"  %>
	</div>
	<div class="half-line">
		<div class="small-box-text">Start time</div>
		<div class="mid-box-fill">
			<% if @event.start_time? && @event.start_time.class != String %>
				<%= f.text_field :start_time, placeholder: "HH:MM", 
					value: @event.start_time.strftime('%H:%M')  %>
			<% else %>
				<%= f.text_field :start_time, placeholder: "HH:MM" %>
			<% end %>
		</div>
	</div>
	<div class="half-line">
		<div class="small-box-text">Finish time</div>
		<div class="mid-box-fill">
			<% if @event.finish_time? && @event.start_time.class != String %>
				<%= f.text_field :finish_time, placeholder: "HH:MM",
					value: @event.finish_time.strftime('%H:%M') %>
			<% else %>
				<%= f.text_field :finish_time, placeholder: "HH:MM" %>
			<% end %>
		</div>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<%= f.label :location  %>
	</div>
	<div class="box-fill">
		<%= f.text_field :location, placeholder: "If not your normal location"  %>
	</div>
</div>
<div class="entry">
	<div class="add-this">
		<%= f.label :note, "Notes" %>
	</div>
	<div class="box-fill">
		<%= f.text_area :note, 
			placeholder: "Is there anything special about this event? 140 characters maximum"  %>
	</div>
</div>
		