<% provide(:title, "Event schedule") %>
<span class="two-line-header"><h1>Event schedule</h1></span>
<h2><%= "for #{@business.name}, #{@business.city}" %></h2>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/business_menu" %>
		</section>
	</aside>

	<div class="span8">
		<% unless @business.has_products? %>
			<%= render 'no_products' %>
			<%= link_to "Add a product", 
				new_my_business_product_path(@business), 
				class: "btn btn-large btn-primary" 
			%>
		<% else %>
			<% unless @business.has_events? %>
				<%= render 'no_events' %>
				<%= link_to "Schedule an event", 
					new_my_business_event_path(@business), 
					class: "btn btn-large btn-primary" 
				%>
			<% else %>
				<% unless @business.has_current_and_future_events? %>
					<%= render 'no_current_events' %>
					<%= link_to "Schedule an event", 
						new_my_business_event_path(@business), 
						class: "btn btn-large btn-primary" 
					%>
				<% else %>
					<%= form_tag my_business_events_path(@business), method: 'get', 
							id: "events_search" do %>
						<p>
							<%= text_field_tag :search, params[:search], 
								class: "half-width", placeholder: 'To filter, type in product title' %>
							<span class="js-content glyphicon glyphicon-search"></span>
							<span class="html-content"><%= submit_tag "Search", title: nil %></span>
						</p>
						<div id="events"><%= render 'events' %></div>
					<% end %>
		 		<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="navigator">
	    <%= link_to "<- Business details", my_business_path(@business) %> 
	    <% if @business.has_previous_events? %>
	    	| <%= link_to "<- Completed events", 
    			my_business_previous_events_path(@business) %>
    	<% end %>
	    <% if @business.has_schedulable_products? %>
	    	| <%= link_to "Schedule an event ->", 
	    			new_my_business_event_path(@business) %>
	    <% end %>
	    
	</div>
</div>


