<% provide(:title, "Add event") %>
<span class="two-line-header"><h1>Add a training event</h1></span>
<h2><%= "for #{current_business.name}, #{current_business.city}" %></h2>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/business_menu" %>
		</section>
	</aside>
	<div class="span8">
		<%= form_for([@business, @event], 
				url: my_business_events_path(@business)) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="entry-page">
				<div class="entry">
					<div class="add-this">
						<span class="label"><%= label_tag :product_id, "Relating to" %></span>
					</div>
					<div class="box-fill half-line">
						<%= f.collection_select :product_id, @products, 
							:id, :title, prompt: true %>
					</div>
				</div>
				<%= render 'fields', f: f %>
				<div class="entry">
					<%= f.hidden_field :created_by %>
				</div>
				<%= f.submit "Create", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
	<div class="navigator">
		<%= link_to "<- Back to event schedule", my_business_events_path(@business) %>
	</div>
</div>
