<% provide(:title, "Event details") %>
<span class="two-line-header"><h1>Event details</h1></span>
<div class="subhead">- as seen by other HROOMPH users</div>
<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/business_menu" %>
		</section>
		<section>		
			<%= render 'guidance' %>
		</section>
	</aside>
	<div class="present span8">
		<h5>Business</h5>
		<div class="paragraph">
			<div class="subject">
				<% if @business.logo? %>
					<%= image_tag @business.logo_url, class: "img-rounded" %>
				<% end %>
			</div>
			<div class="detail strong"><%= @business.name %></div>
			<div class="detail">
				<%= "#{@business.city}, #{@business.country}" %>
				<span class="js-toggle-detail">(more..)</span>
			</div>
		</div>
		<div class="js-more-detail">
		 	<%= render 'shared/business_details' %>
		</div>
		
		<div class="paragraph">
			<h5>Product/Service</h5>
			<div class="subject">
				<% if @product.image? %>
					<%= image_tag @product.image_url(:thumb), class: "img-rounded" %>
				<% end %>
			</div>
			<div class="detail strong">
				<%= @product.title %>
				<% unless @product.current? %>
					<span class="check-notice">(de-listed)</span>
				<% end %>
			</div>
			<div class="detail">
				<%= @product.format_details %>
			</div>
			<div class="detail">
				<% if @product.standard_cost == 0 %>
					<span class="check-info"><strong>
							* * FREE! * *
					</strong></span>
				<% else %>
					<%= @product.formatted_standard_price %>
				<% end %>
				<span class="js-toggle-detail-2">(more..)</span>
			</div>
		</div>

		<div class="js-more-detail-2">
		 	<%= render 'shared/product_details' %>
		</div>
		
		<div class="paragraph">
			<h5>Dates/Timings</h5>
			<div class="subject">
				<%= image_tag 'calendar-icon.png', class: "img-rounded" %>
			</div>
			<% if @event.end_date < Date.today %>
				<div class="check-info add-bottom-space">
					This <%= @business.currency_symbol %> <%= sprintf("%.2f", @event.price) %> 
					event has now finished.
				</div>
			<% else %>
				<% unless @event.standard_price == @event.price %>
					<div class="subject"></div>
					<div class="detail">
						<% if @event.price == 0 %>
							<span class="check-info"><strong>
								* * FREE! SAVE <%= @business.currency_symbol %> 
								<%= number_with_precision(@event.savings, precision: 2, delimiter: ',') %> ! * * 
							</strong></span>
						<% else %>
							<strong>Special pricing: <%= @business.currency_symbol %>
							  <%= number_with_precision(@event.price, precision: 2, delimiter: ',') %>
							</strong>
							<% if @event.savings_percent >= 1 %>
								<span class="check-info"><strong>- SAVE 
									<%= number_to_percentage(@event.savings_percent, 
										precision: 2, strip_insignificant_zeros: true) %> !</strong>
								</span>
							<% end %>
						<% end %>
						
					</div>
				<% end %>
			<% end %>
			<div>
				<% if @event.start_date == @event.end_date %>
					<div class="subject"></div>
					<div class="detail">
						<%= formatted_daydate(@event.start_date) %>
						<div class="tag-phrase">
							<% if @event.has_places? %>
								<% if @event.remaining_places > 4 %>
									<span class="check-info"> -- Accepting bookings --</span>
								<% else %>
									<span class="check-info">
										-- <%= pluralize(@event.remaining_places, "place") %> left --
									</span>
								<% end %>
							<% else %>
								<span class="check-info"> -- Sold out --</span>
							<% end %>
						</div>
					</div>
				<% else %>
					<div class="subject"></div>
					<div class="detail">
						<%= formatted_daydate(@event.start_date) %> 
							-> <%= formatted_daydate(@event.end_date) %>
					
						<div class="tag-phrase">
							<% if @event.has_places? %>
								<% if @event.remaining_places > 4 %>
									<span class="check-info"> -- Accepting bookings --</span>
								<% else %>
									<span class="check-info">
										-- <%= pluralize(@event.remaining_places, "place") %> left --
									</span>
								<% end %>
							<% else %>
								<span class="check-info"> -- Sold out --</span>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<% if @event.time_of_day? || (@event.start_time? && @event.finish_time?) %>
				<div class="subject"></div>
				<div class="detail">
					<%= @event.time_of_day unless @event.time_of_day == "Not displayed" %>
					<% if @event.start_time? %>
						<% if @event.time_of_day? && @event.time_of_day != "Not displayed" %>
							<%= ": #{formatted_time(@event.start_time)} -> 
								#{formatted_time(@event.finish_time)}" if @event.start_time? %>
						<% else %>
							<%= "#{formatted_time(@event.start_time)} -> 
								#{formatted_time(@event.finish_time)}" %>
						<% end %>
					<% end %>
				</div>
			
			<% end %>

			<% if @event.attendance_days? %>
			
				<div class="subject"></div>
				<div class="detail">
					<%= @event.attendance_days.split.join(" ") %>
				</div>
		
			<% end %>
		</div>

		<% if @event.location? %>
			<div class="paragraph">
				<div class="subject">Location:</div>
				<div class="detail"><%= @event.location %></div>
			</div>
		<% end %>	
		<div class="paragraph">
			<% if @event.note? %>
				<div class="subject">Notes:</div>
				<div class="detail"><%= @event.note %></div>
			<% end %>
		</div>
	</div>
	<div class="navigator add-top-space">
		<% if @business.has_previous_events? %>
			<%= link_to "<- All completed events ", my_business_previous_events_path(@business) %> | 
		<% end %>	
		<%= link_to "<- All current & future events", my_business_events_path(@business) %>
		| <%= link_to "Update event details ->", edit_event_path(@event) %>
	</div>
</div>
