<%= render 'shared/error_messages', object: f.object %>
<div class="guidance">
	<span class="label">Labels like this</span>  show must-fill boxes - but we 
	recommend filling all you can.
</div>
<div class="entry-page">
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :name, "Business name" %></span>
		</div>
		<div class="box-fill"><%= f.text_field :name,
				placeholder: "Max 75 characters. Must not be a duplicate in same town." %>
		</div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :description %></span>
		</div>
		<div class="box-fill"><%= f.text_area :description,
				placeholder: "Max 120 characters. A punchy headline, explaining what you do and why you're special." %>
		</div>
	</div>

	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :street_address, "Full address" %></span>
		</div>
		<div class="box-fill">
			<div class="large-box-fill">
				<%= text_field_tag 'geocomplete', @business.street_address, 
					placeholder: "Type in an address. The map should then show your location" %>
			</div>
			<div class="confirm-button">
				<input id="find" type="button" value="find">
			</div>
		</div>
	</div>
	<div class="entry add-bottom-space">
		<div class="add-this"></div>
		<div class="box-fill">
			<div class="map_canvas"></div>
		</div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :hide_address %></div>
		<div class="cbox-fill"><%= f.check_box :hide_address %></div>
		<div class="cbox-info add-bottom-space">
			<% if @business.hide_address? %>
				<%= hide_address_checked %>
			<% else %>
				<%= hide_address_unchecked %>
			<% end %>
		</div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :phone %></div>
		<div class="box-fill"><%= f.text_field :phone,
				placeholder: "Optional - see Page Guidance (Contact details)" %>
		</div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :alt_phone, "Alternative phone" %></div>
		<div class="box-fill"><%= f.text_field :alt_phone %></div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :email %></span>
		</div>
		<div class="box-fill"><%= f.text_field :email %></div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :website %></div>
		<div class="box-fill"><%= f.text_field :website,
				placeholder: "Optional. If used, include http:// or https://" %>
		</div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :logo %></div>
		<div class="image-fill">
			<div class="image-labels">
				Upload a file from your device:
				<div class="form-inline"><%= f.file_field :logo %></div>
				<em> OR  - </em> Enter the image URL below: <%= f.text_field :remote_logo_url,
									placeholder: "Optional - see Page Guidance (Images)" %>
				<% if @business.logo? %>
					<label>
						<em> OR - </em> <%= f.check_box :remove_logo %>
						Check to remove completely
					</label>
				<% end %>
				<%= f.hidden_field :logo_cache %>
			</div>
			<div class="image-display">
				<%= image_tag(@business.logo_url, class: "img-rounded") if @business.logo? %>
			</div>
		</div>
	</div>
	<div class="entry">
		<div class="add-this add-top-space"><%= f.label :image %></div>
		<div class="image-fill add-top-space add-bottom-space">
			<div class="image-labels">
				Upload a file from your device:
				<%= f.file_field :image %>
				<em> OR  - </em> Enter the image URL below <%= f.text_field :remote_image_url,
									placeholder: "Optional - see Page Guidance (Images)" %>
				<% if @business.image? %>
					<label>
						<em> OR - </em> <%= f.check_box :remove_image %>
						Check to remove completely
					</label>
				<% end %>
				<%= f.hidden_field :image_cache %>
			</div>
			<div class="image-display">
				<%= image_tag(@business.image_url(:thumb), class: "img-rounded") if @business.image %>
			</div>
		</div>
	</div>
	<% unless params[:action] == 'new' %>
		<div class="entry">
			<div class="add-this"><%= f.label :inactive, "De-activate" %></div> 
			<div class="cbox-fill"><%= f.check_box :inactive %></div>
			<div class="cbox-info">
				<% if @business.inactive? %>
					<%= inactive_checked %>
				<% else %>
					<%= inactive_unchecked %>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="entry">
		<%= f.hidden_field :latitude, name: "lat", id: "latitude" %>
		<%= f.hidden_field :longitude, name: "lng" %>
		<%= f.hidden_field :city, name: "locality" %>
		<%= f.hidden_field :country, name: "country" %>
		<%= f.hidden_field :street_address, id: "loctn" %>
		<%= hidden_field_tag :loctn_status %>
		<%= hidden_field_tag :map_updated %>
		<%= f.hidden_field :created_by %>
		<%= f.hidden_field :inactive_from %>
	</div>
</div>