<%= render 'shared/error_messages', object: f.object %>
<div class="guidance">
	<span class="label">Labels like this</span>  show must-fill boxes - but we 
	recommend filling all you can.
</div>
<div class="entry-page">
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :name, "Business name" %></span>
		</div>
		<div class="box-fill"><%= f.text_field :name %></div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :description %></span><br/>
			<small><i>(Max 140 characters)</i></small>
		</div>
		<div class="box-fill"><%= f.text_area :description %></div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :street_address %></span>
		</div>
		<div class="box-fill"><%= f.text_area :street_address %></div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :city, "Town/city" %></span>
		</div>
		<div class="box-fill"><%= f.text_field :city %></div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :state, "County/state" %></div>
		<div class="box-fill"><%= f.text_field :state %></div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :postal_code, "Post/zip code" %></div>
		<div class="box-fill"><%= f.text_field :postal_code %></div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :country %></span>
		</div>
		<div class="box-fill"><%= country_select(:business, :country, priority_countries) %></div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :hide_address %></div>
		<div class="cbox-fill"><%= f.check_box :hide_address %></div>
		<div class="cbox-info">
			<% if @business.hide_address? %>
				<%= hide_address_checked %>
			<% else %>
				<%= hide_address_unchecked %>
			<% end %>
		</div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :phone %></div>
		<div class="box-fill"><%= f.text_field :phone %></div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :alt_phone, "Alternative phone" %></div>
		<div class="box-fill"><%= f.text_field :alt_phone %></div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :email %></span>
		</div>
		<div class="box-fill"><%= f.text_field :email %></div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :website %></div>
		<div class="box-fill"><%= f.text_field :website %></div>
	</div>
	<div class="entry">
		<div class="add-this"><%= f.label :logo %></div>
		<div class="image-fill">
			<div class="image-labels">
				Upload a file from your device:
				<%= f.file_field :logo %>
				<em> OR  - </em> Enter the image URL below: <%= f.text_field :remote_logo_url %>
				<% if @business.logo? %>
					<label>
						<em> OR - </em> <%= f.check_box :remove_logo %>
						Check to remove completely
					</label>
				<% end %>
				<%= f.hidden_field :logo_cache %>
			</div>
			<div class="image-display">
				<%= image_tag(@business.logo_url, class: "img-rounded") if @business.logo? %>
			</div>
		</div>
	</div>
	<div class="entry">
		<div class="add-this add-top-space"><%= f.label :image %></div>
		<div class="image-fill add-top-space add-bottom-space">
			<div class="image-labels">
				Upload a file from your device:
				<%= f.file_field :image %>
				<em> OR  - </em> Enter the image URL below <%= f.text_field :remote_image_url %>
				<% if @business.image? %>
					<label>
						<em> OR - </em> <%= f.check_box :remove_image %>
						Check to remove completely
					</label>
				<% end %>
				<%= f.hidden_field :image_cache %>
			</div>
			<div class="image-display">
				<%= image_tag(@business.image_url(:thumb), class: "img-rounded") if @business.image %>
			</div>
		</div>
	</div>
	<% unless params[:action] == 'new' %>
		<div class="entry">
			<div class="add-this"><%= f.label :inactive, "De-activate" %></div> 
			<div class="cbox-fill"><%= f.check_box :inactive %></div>
			<div class="cbox-info">
				<% if @business.inactive? %>
					<%= inactive_checked %>
				<% else %>
					<%= inactive_unchecked %>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="entry">
		<%= f.hidden_field :latitude %>
		<%= f.hidden_field :longitude %>
		<%= f.hidden_field :created_by %>
		<%= f.hidden_field :inactive_from %>
	</div>
</div>