<% provide(:title, "My businesses") %>
<h1>My businesses</h1>
<div class="row">
	<aside class="span3">
	</aside>

	<div class="span8">
		<ul class="lists"> 
			<% @businesses.each do |business| %>
				<%= content_tag_for :li, business do %>
					<strong><%= business.name %></strong>,
					<%= business.city %>,
					<%= business.country %>
					| <%= link_to "details", my_business_path(business) %>
					| <%= link_to "delete", { controller: 'my_businesses',
											action: 'destroy', 
											id: business.id }, 
											{ method: :delete,
											data: { confirm: "Are you sure?" } } %>
					<span class="check-notice">
						<% if business.inactive? %>
						 	* Inactive business
						<% elsif business.latitude.nil? %>
						 	* Check details
						<% elsif business.hide_address? %>
							* Address hidden from users
						<% end %>
					</span>
				<% end %>
			<% end %>
		</ul>
		<div class="navigator">
			<%= link_to "Add a business ->", new_my_business_path %>
		</div>
	</div>
</div>