<% provide(:title, 'Add business') %>
<h1>Add a business</h1>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/business_menu" %>
		</section>
		<% if current_user.has_businesses? %>
			<section>		
				<%= render 'guidance' %>
			</section>
		<% end %>
	</aside>
	<div class="span8">
		<%= form_for(@business, url: my_businesses_path) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Create", class: "btn btn-primary" %>
		<% end %>
	</div>
</div> 
<div class="navigator">
	<%= link_to "<- My business list", my_businesses_path %> 
</div>