<% provide(:title, "#{current_business.name}, #{current_business.city}") %>
<h1>Business details</h1>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/business_menu" %>
		</section>
	</aside>
	<div class="present span8">
		<% if @business.inactive? %>
			<div class="check-notice">You deactivated this business on 
				<%= @business.inactive_from.strftime('%b %d, %Y') %>, 
				so it can't be seen by other users.  If it's still inactive after 
				6 months, HROOMPH will ask if you want the business to be 
				deleted completely.

			</div>
		<% elsif @business.latitude.nil? %>
			<div class="check-notice">Please check this address, which is not recognized by
				<i>Google Earth</i>.  This means that your business will not show up when users
				include a location check in their search.
			</div>
		<% end %>
		<% if @business.image? %>
			<%= render 'show_navigation_mybiz' %>
		<% end %>
		<div class="paragraph">
			<div class="subject">
				<% if @business.logo? %>
					<%= image_tag @business.logo_url %>
				<% else %>
					Business name:
				<% end %>
			</div>
			<div class="detail heading"><%= @business.name %></div>
		</div>
		<div class="paragraph">
			<div class="subject">About us:</div>
			<div class="detail"><%= @business.description %></div>
		</div>
		<div class="paragraph">
			<div class="subject"><em>Address:</em></div>
			<div class="detail"> <%= @business.full_address %>
				<% unless @business.inactive? %>
					<% if @business.hide_address? %>
						<span class="check-notice"> - Hidden from users</span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="paragraph">
			<div class="subject">Phone:</div>
			<div class="detail"><%= @business.all_phones_vendor %></div>
		</div>
		<div class="paragraph">
			<div class="subject">Email:</div>
			<div class="detail"><%= @business.email %></div>
		</div>
		<div class="paragraph">
			<div class="subject">
				Team: <%= link_to "( update )", my_business_ownerships_path(@business) %>
			</div>
			<div class="detail"><%= @business.owners_list %></div>
		</div>
		<% if @business.website? %>
			<div class="paragraph">
				<div class="subject">Website:</div>
				<div class="detail">
					<%= link_to(@business.website, "#{@business.website}", target: "_blank") %>
				</div>
			</div>
		<% end %>
		<% if @business.image? %>
			<div class="paragraph">
				<div class="subject">Image:</div>
				<div class="detail">
					<%= image_tag @business.image_url %>
				</div>
			</div>
		<% end %>


	</div>
</div>
<%= render 'show_navigation_mybiz' %>