<div class="add-top-space">
	Can potential clients contact this person?
	<div class="control-group">
		<%= f.label :contactable, 'Yes', :value => true, :class => "radio inline" %>
		<%= f.radio_button :contactable, true %>
		<%= f.label :contactable, 'No', :value => false, :class => "radio inline" %>
		<%= f.radio_button :contactable, false %>
	</div>
</div>

<div class="paragraph">
	<%= f.label :phone, 
		"If yes, is there a direct phone number for this person? Write it below." %>
	<div class="explain-narrow-top">
		Include the number, even if it's the same as your main business phone number.
		If any of your team members are contactable, visitors to your pages will see
		their contact details, not those you've entered for the business.
	</div>
	<div class="half-width"><%= f.text_field :phone %></div>	
</div>