<% provide(:title, "New team member") %>
<span class="two-line-header"><h1>New team member</h1></span>
<h2><%= "for #{current_business.name}, #{current_business.city}" %></h2>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/business_menu" %>
		</section>
	</aside>
	<div class="span6">
		<%= form_for([@business, @ownership], 
				url: my_business_ownerships_path(@business)) do |f| %>

		 	<%= render 'new_fields', f: f %>

			<%= f.submit "Create", class: "btn btn-primary" %>
		<% end %>
	</div>
</div> 
<div class="navigator">
	<%= link_to "<- Team list", my_business_ownerships_path(@business) %>
</div>