<% provide(:title, 'Edit content length') %>
<h1>Edit content length</h1>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/admin_menu_side" %>
		</section>
	</aside>
	<div class="span8">
		<%= form_for(@length) do |f| %>

		 	<%= render 'fields', f: f %>

			<%= f.submit "Confirm", class: "btn btn-primary" %>
			<div class="navigator">
				<%= link_to "<- Cancel", content_lengths_path %>
			</div>
		<% end %>
	</div>
</div> 
