<% provide(:title, "Completed events") %>
<span class="two-line-header"><h1>Completed events</h1></span>
<h2><%= "for #{@business.name}, #{@business.city}" %></h2>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/business_menu" %>
		</section>
	</aside>
	<div class="span8">		
		<%= form_tag my_business_previous_events_path(@business), method: 'get', 
				id: "events_search" do %>
			<p>
				<%= text_field_tag :search, params[:search], 
					class: "half-width", placeholder: 'To filter, type in product title' %>
				<span class="js-content glyphicon glyphicon-search"></span>
				<span class="html-content"><%= submit_tag "Search", title: nil %></span>
			</p>
			<div id="events"><%= render 'events' %></div>
		<% end %>

	</div>		 		
	<div class="add-top-space navigator">
	    <%= link_to "All current & future events ->", my_business_events_path(@business) %> 
	    <% if @business.has_events? %>
	    	| <%= link_to "Schedule a new event ->", 
	    			new_my_business_event_path(@business) 
	    	  %>
	    <% end %>
	</div>
</div>
