<%= render 'shared/error_messages', object: f.object %>
<div class="entry-page">
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :title %></span>
		</div>
		<div class="box-fill"><%= f.text_field :title %></div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label" style="font-size: 14px; font-weight: normal; padding: 5px">Genre</span>
		</div>
		<div class="box-fill"><%= select_tag "genre", 
			options_from_collection_for_select(@genres, "id", "description") %>
		</div>
	</div>
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :topic_id %></span>
		</div>
		<div class="box-fill">
			<%= grouped_collection_select(:topic, :category_id, 
					@genres, :categories, :description, :id, :description) %>
		</div>
	</div>
	<div class="entry">
		<%= f.hidden_field :created_by %>
	</div>
</div>