<% provide(:title, "Add product/service") %>
<span class="two-line-header"><h1>Add a product or service</h1></span>
<h2><%= "for #{current_business.name}, #{current_business.city}" %></h2>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/business_menu" %>
		</section>
	</aside>
	<div class="span8">
		<div class="js-content">

			<%= form_for([@business, @product], 
					url: my_business_products_path(@business),
					html: { multipart: true }) do |f| %>
				<%= render 'fields_js', f: f %>
				<%= f.submit "Create", class: "btn btn-primary" %>
			<% end %>
		</div>
		<div class="html-content">
			<%= render 'newprod_redirect' %>
		</div>
	</div>
</div> 
<div class="navigator">
	<% if @business.has_products? %>
		<%= link_to "<- All products/services", my_business_products_path(@business) %>
	<% else %>
		<%= link_to "<- Products/services intro", my_business_products_path(@business) %>
	<% end %>
</div>